@tailwind base;
@tailwind components;
@tailwind utilities;

.path {
  clip-path: polygon(
    21% 67%,
    13% 24%,
    35% 29%,
    96% 48%,
    96% 27%,
    0% 45%,
    58% 61%,
    74% 15%
  );
}

/* Mobile Navbar  */
@media (max-width: 1023px) {
  .mobile-nav {
    @apply fixed top-0 -right-52 opacity-0 bg-base-100 z-10 h-full w-[75%] max-w-xs rounded-s-3xl transition-all duration-300 ease-in-out pointer-events-none shadow-2xl;
  }
  .show {
    @apply opacity-100 right-0 pointer-events-auto;
  }
  .mobile-nav > ul {
    @apply flex-col;
  }
  header[data-overlay="false"]::after,
  header[data-overlay="true"]::after {
    @apply content-[""] fixed inset-0 invisible pointer-events-none transition-all duration-[250ms] ease-in-out opacity-0 bg-gradient-to-b z-[5] from-[#00000018] to-[#000000b3];
  }
  header[data-overlay="true"]::after {
    @apply visible opacity-100;
  }
}

.inputBox:has(input:focus-visible) {
  outline: 2px solid;
  outline-offset: 4px;
  outline-color: hsl(var(--n) / 0.6);
  border: 2px solid hsl(var(--nf) / 0.7);
}

/* Animation  */

.shake {
  animation: shakeAnim 7s ease-in infinite;
}
@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

.tracking-in {
  text-wrap: balance;
  animation: tracking-in 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.slide-top {
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Scrollbar Styling  */

::-webkit-scrollbar {
  @apply w-[9px] rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-base-100 my-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary-focus rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
@supports (scrollbar-color: olive black) {
  * {
    scrollbar-color: hsl(var(--pf)) hsl(var(--b1));
    scrollbar-width: thin;
  }
}

.gradient-background {
  background-size: 120% 120%;
  animation: gradient-animation 1s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
