.pulse {
  box-shadow: 0 0 0 0 rgb(126 34 206 / 0.5);
  animation: pulse-c6zlskhg 1s infinite;
  @apply bg-purple-600 w-9 h-9 rounded-[50%];
}

@keyframes pulse-c6zlskhg {
  100% {
    box-shadow: 0 0 0 52.8px #0000;
  }
}
