@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground cursor-none;
  }
}

.overlay::after {
  @apply content-[""] absolute inset-0 rounded-3xl bg-gradient-to-b from-[#00000002] to-[#00000080] opacity-0 transition-all duration-300 ease-in-out;
}
.overlay:hover::after,
.overlay:focus-visible::after {
  @apply opacity-100;
}

/* Scrollbar for Body  */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 100vmax;
}
::-webkit-scrollbar-track {
  background: hsl(var(--background));
  margin-block: 1rem;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--foreground));
  border-radius: 100vmax;
}
@supports (scrollbar-color: white black) {
  * {
    scrollbar-color: hsl(var(--foreground)) hsl(var(--background));
    scrollbar-width: thin;
  }
}

/* Project Card Hover Effect Styles */
.projectCard:hover::before {
  opacity: 1;
}
.projectCard::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.15),
    transparent 40%
  );
  opacity: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  transition: opacity 500ms ease-in-out;
}
