@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar for Body  */
::-webkit-scrollbar {
  @apply w-2 rounded-full;
}
::-webkit-scrollbar-track {
  @apply my-2 bg-white;
}
::-webkit-scrollbar-thumb {
  @apply bg-purple-800 rounded-[100vmax];
}
@supports (scrollbar-color: #ffffff #0a2540) {
  * {
    scrollbar-color: rgb(107 33 168) #ffffff;
    scrollbar-width: thin;
  }
}

.phone-title {
  text-wrap: balance;
}
