@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply grid place-content-center min-h-[100dvh] bg-white;
  font-family: "Manrope", sans-serif;
}

.layout {
  @apply grid gap-6 md:grid-cols-2 lg:grid-cols-3;
}

.image-wrapper::after {
  @apply absolute opacity-0 inset-0 transition-all duration-500 ease-in-out pointer-events-none content-[""] bg-gradient-to-b from-[#00000025] to-[#000000a6];
}

.image-wrapper:hover::after {
  @apply opacity-100;
}

.title {
  @apply relative cursor-default;
}
.title::after {
  @apply absolute bg-[#3b82f6] rounded-[100vmax] origin-center transition-all duration-[350ms] ease-in-out content-[""] w-[70%] h-1 left-1/2 bottom-[8%];

  transform: translate(-50%, 0) scale(0);
}

.title:hover::after {
  transform: translate(-50%, 0) scale(1);
}

/* All The Animation */
.anime {
  --duration: 800ms;

  animation: slide-in var(--duration) ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scale-in {
  animation: scale-in 800ms ease-in-out;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
